.card {
  border-radius: 5px;
  position: relative;
  margin: 20px;
  max-width: 250px;
  min-width: 250px;
  min-height: 300px;
  max-height: 300px;
  flex: 1;
  background-color: #f7f7f7;
  text-align: center;
}

.card:hover {
  box-shadow: 10px 5px 5px grey;
}

.img {
  width: 100%;
  max-height: 125px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.name {
  font-size: 20px;
  margin-bottom: 0px;
}

.continent {
  font-size: 10px;
  margin-top: 0px
}

.buttom {
  margin: 0px 2px 10px 0px;
  border: 2px transparent
}

.buttom:hover {
    background-color: skyblue;
    border: 2px transparent;
    cursor: pointer;
    border-radius: 5px;
}