@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.main {
  width: 100vw;
  min-height: 93vh;
  font-family: 'Arvo', sans-serif;
  background-color: #f7f7f7;
  padding-bottom: 25px;
}

.filtersOrders {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 1.2rem 0.25rem 30px 0.25rem;
}

.searchFilterActivity, .AscDesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin: 10px 5px 1px 5px;
}

.containerPagesContinent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  position: sticky;
  bottom: 0;
}
/* .searchFilterActivity {
  flex-direction: column;
}

.orderButtom2 {
  margin-bottom: 20px;
}

.AppHeader {
  padding: 1.6rem;
  background-color: #fafafa;
  border-bottom: 30px hotpink;
  padding: 0;
  // position: sticky;
  // top: 0; 
 } 

.initialPage {
  width: 95.5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */