.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.searchSubmit {
  padding: 5px;
  border: 2px;
  margin: 2px;
}

.searchSubmit:hover {
  cursor: pointer;
}

.searchSubmit:hover {
  border-radius: 5px;
  background-color: skyblue;
}
