@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 600px;
  /* max-width: 480px; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 1rem;
  left: 0;
  right: 0;
  margin-bottom: 40px;
  border-top: 5px solid #00b4cc;
  animation: bounce 1.5s infinite;
  height: fit-content;
}

.card {
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  height: fit-content;
}

.img {
  width: 60%;
}

.name {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 5px;
}

.p {
  font-size: 1rem;
  margin: 0px 0px 0px 20px;
  text-align: left;
  font-family: "Arvo";
}

.p2 {
  font-size: 0.7rem;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 20px;
  text-align: left;
  font-family: "Arvo";
}

.span {
  font-weight: bold;
}

.activities {
  font-size: 1.2rem;
  margin: 20px 0px;
}

.touristActivitiesContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttom {
  width: 100px;
  background-color: #00b4cc;
  color: white;
  cursor: pointer;
  font-size: 10px;
  font-family: "Arvo";
  margin: 2rem 0.5rem;
  outline: none;
}

.buttom:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 100px;
  border-top: 5px solid #dadada;
  border-radius: 0%;
}