@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.containerName {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchSubmit {
  width: 3.3rem;
  padding: 5px;
  border: 2px solid #00b4cc;
  border-radius: 3px;
  margin: 2px;
  font-family: "Arvo";
  font-size: 1.25rem;
}

.searchSubmit:hover {
  cursor: pointer;
}

.searchSubmit:hover {
  border-radius: 5px;
  background-color: #00b4cc;
}
