@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #00b4cc;
  animation: bounce 1.5s infinite;
  height: 87vh;
}
::-webkit-input-placeholder {
  font-size: 0.7rem;
}

.title,
.secondaryTitle {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Arvo";
}

.title {
  padding-bottom: 30px;
}

.secondaryTitle {
  color: grey;
  font-size: 1rem;
}

.bottoms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Arvo";
  outline: none;
}

.submit {
  width: 200px;
  color: white;
  background-color: #00b4cc;
  font-size: 20px;
  cursor: pointer;
  font-family: "Arvo";
  outline: none;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 310px;
  border-top: 5px solid #dadada;
  border-radius: 0%;
}

.backHome {
  width: 100px;
  color: white;
  background-color: #00b4cc;
  font-size: 10px;
  cursor: pointer;
  margin: 10px;
  outline: none;
}

.backHome:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 100px;
  border-top: 5px solid #dadada;
  border-radius: 0%;
}

.select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.formEntry,
.formEntry2 {
  display: block;
  margin: 5px auto;
  min-width: 300px;
  padding: 5px;
  border-radius: 2px;
  outline: none;
  border: 0.5px solid grey;
  transition: all 0.5s ease 0s;
  font-family: "Arvo";
  background-color: #F7F7F7;
  background-image: linear-gradient(to top, #F7F7F7, #F7F7F7 33%);
  font-size: 12px;
}

.formEntry2 {
  min-width: 310px;
}
