.form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  border-radius: 5px;
  padding-top: 250px;
  width: 100%;
  background-color: #f7f7f7;
}

.img {
  width: 100%;
  max-height: fit-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottoms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submit,
.backHome {
  border: 2px transparent;
  margin-bottom: 5px;
}

.submit:hover,
.backHome:hover {
  background-color: skyblue;
  border: 2px transparent;
  cursor: pointer;
  border-radius: 5px;
}

.select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}